@import "tailwindcss";

:root {
  /* Brand Colors */
  --primary: #f8c8dc;
  --primary-hover: #e8afc5;
  --secondary: #ffffff;
  --accent: #b76e79;

  /* Background */
  --background: #fff6f9;
  --surface: #ffffff;

  /* Text */
  --text: #2f2f2f;
  --text-light: #6b7280;

  /* Border */
  --border: #f4dce5;
}

@theme {
  --animate-marquee: marquee 25s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}






html {
  scroll-behavior: smooth;
}

@media (pointer: fine) {
  * {
    cursor: none;
  }
}